#faq {
	.nav-pills .nav-link {
		text-align: left;
	}

	img {
		// box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
		// box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
		box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
		border-radius: 10px;
	}
	ul {
		margin-top: .55rem;
		li {
			font-size: 15px;
		}
	}
}
