.testimonials {
     background-color: #E2F6FF;
     padding: 50px 0px;
     border-radius: 20px;

     .carousel-inner {
          position: relative;
          width: 70%;
          overflow: hidden;
          margin: 0 auto;
          border-radius: 30px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

          .carousel-item {
               background-color: white;
               padding: 30px;
               height: 450px;
          }
     }

     .description-testimonials {
          font-size: 17px;
          line-height: 1.9;
     }

     .list-unstyled {
          li {

               margin-right: 8px !important;
          }

     }


}

.pl-80 {
     padding-left: 80px !important;
}

@media screen and (max-width: 552px) {
     .section-row-content .row-content-body p {
          padding: 0px 20px;
          font-size: .875rem !important;
     }

     .section-row-content .row {
          width: 100%;
          margin: 0 auto;
     }

     .pl-sm-0 {
          padding-left: 20px !important;
     }

     .testimonials .description-testimonials {
          font-size: 14px;
          display: -webkit-box;
          -webkit-line-clamp: 4;
          -webkit-box-orient: vertical;
          overflow: hidden;
     }

     .testimonials .carousel-inner .carousel-item {
          padding: 30px 10px;
     }

     .testimonials {

          .carousel-control-next,
          .carousel-control-prev {
               width: 9%;
          }
     }

     .testimonials .carousel-inner {
          width: 80;

     }

     .testimonials .carousel-inner .carousel-item {
          height: auto !important;
     }
}