#pesanan-dikirim {
	font-weight: 400;
	line-height: 1.2;
	width: 60%;
	-webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	margin: 0px auto;
	padding: 10px;
	border-radius: 10px;
}

.gap-bottom {
	width: 100%;
	border-bottom: 2px solid black;
	margin-top: 20px;
	margin-bottom: 20px;
}

.visibility-hidden {
	visibility: hidden !important;
}
.gap-bottom.mb-0 {
	margin-bottom: 0px !important;
}

.btn-konfirmasi-pembayaran {
	cursor: pointer;
	padding: 5px 25px;
	font-weight: 600;
	display: block;
	font-size: 13px;
	text-transform: uppercase;
	background-color: transparent;
	border: 1px solid black;
	margin-top: 15px;
	color: gray;
}

.btn-konfirmasi-pembayaran:hover {
	background-color: #efefef;
	color: black;
}

.w-10 {
	width: 10%;
}

.w-20 {
	width: 20%;
}

.w-30 {
	width: 30%;
}

.w-40 {
	width: 40%;
}

.w-50 {
	width: 50%;
}

.w-60 {
	width: 60%;
}

.w-70 {
	width: 70%;
}
.w-75 {
	width: 75%;
}

.w-80 {
	width: 80%;
}

.w-90 {
	width: 90%;
}

.w-100 {
	width: 100%;
}
.w-68 {
	width: 68%;
}
.w-84 {
	width: 85%;
}
@media screen and (max-width: 500px) {
	#pesanan-dikirim .w-75 {
		width: 100%;
		text-align: left;
		display: flex;
		justify-content: flex-start;
	}
	#pesanan-dikirim {
		width: 100%;
		padding: 5px 0px;
		box-shadow: none;
	}
	#pesanan-dikirim .w-60 {
		width: 100% !important;
	}
	#pesanan-dikirim .w-68 {
		width: 90% !important;
	}
	#pesanan-dikirim .w-84 {
		width: 65%;
	}
}
